<section id="about-me" class="py-12">
  <div class="max-w-7xl mx-auto px-4 md:px-6">
    <h3 class="text-4xl w-full pt-8 pb-6 text-brand-text-black">{{'aboutMeTitle' | translate}}</h3>

    <div class="grid gap-4 sm:grid-cols-2 lg:grid-cols-3 lg:grid-rows-3">

      @for (card of aboutMeData; track $index; let i = $index) {
        <div class="relative group overflow-hidden rounded-lg" [ngClass]="layoutClasses[i].outer">
          <div class="absolute inset-px bg-brand-text-white shadow-sm border border-brand-background-brown rounded-lg" [ngClass]="layoutClasses[i].outer"></div>
          <div class="relative flex h-full justify-between p-8" [ngClass]="layoutClasses[i].inner">

            @if (layoutClasses[i].contentWrap) {
              <div class="max-w-md">
                <p class="text-xl font-bold text-gray-950" [ngClass]="layoutClasses[i].mb">{{ card.title }}</p>
                <p class="text-sm/6 text-gray-600">{{ card.description }}</p>
                <div class="flex gap-3" [ngClass]="layoutClasses[i].mt">
                  @for (icon of card.icons; track icon) {
                    <img [src]="'assets/icons/' + icon + '.svg'" [alt]="icon"
                         class="p-2 ring-1 ring-brand-background-brown w-12 h-12 rounded-2xl grayscale opacity-50 group-hover:grayscale-0 group-hover:opacity-100 transition-all" />
                  }
                </div>
              </div>
            } @else {
              <div>
                <p class="text-xl font-bold text-gray-950" [ngClass]="layoutClasses[i].mb">{{ card.title }}</p>
                <p class="text-sm/6 text-gray-600">{{ card.description }}</p>
              </div>
              <div class="flex gap-3" [ngClass]="layoutClasses[i].mt">
                @for (icon of card.icons; track icon) {
                  <img [src]="'assets/icons/' + icon + '.svg'" [alt]="icon"
                       class="p-2 ring-1 ring-brand-background-brown w-12 h-12 rounded-2xl grayscale opacity-50 group-hover:grayscale-0 group-hover:opacity-100 transition-all" />
                }
              </div>
            }

          </div>
        </div>
      }

    </div>
  </div>
</section>
