
<section id="footer-credits" class=" w-full max-w-7xl mx-auto px-4 md:px-6 mt-12">
    <div class="grid grid-cols-1 border-b border-current  pb-3 ">
        <small class="flex items-center flex-wrap pr-1" >
            {{'footerClaim1'|translate}}
            <svg class="pr-1 w-6 h-6 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="var(--color-brand-secondary-rose)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" [attr.d]="icons['heart']"/>
            </svg>
            {{'footerClaim2'|translate}}
            <svg class="pl-1 w-6 h-6 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="none" viewBox="0 2 20 20">
              <path stroke="var(--color-brand-text-green)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" [attr.d]="icons['coffee']"/>
            </svg>
        </small>
    </div>
</section>
<section class=" w-full max-w-7xl mx-auto px-4 md:px-6 mb-12">
        <div class="flex items-center pt-3 ">
        <small class="flex items-center pr-1" >{{'footerClaim3'|translate}}</small>
    </div>
</section>
